# Exploring datasets

In [1]:
# libraries
library(haven)
library(data.table)

In [2]:
# read data
dat = data.table(read_stata(""))

ERROR: Error: '/data/Ex_LA1850-2020_SES_FULL_Jan25-2021.dta' does not exist.

In [3]:
# selecting Ex0 and sex == 1
dat = dat[age == 0 & sex == 1]

In [5]:
adat = dat[, .N, .(ctry, year)]

In [6]:
# number of estimates by year and country
table(adat$N)

  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20
801 561 245 246 161  89  32  21   5   5   4  30   9  15   5   7   8   2   2   2
 21  22  23  24  25
  9   3   5   4   1

In [10]:
head(adat[N == 1], 100)

       ctry   year   N
1      2020   1870   1
2      2020   1871   1
3      2020   1872   1
4      2020   1873   1
5      2020   1874   1
6      2020   1875   1
7      2020   1876   1
8      2020   1877   1
9      2020   1878   1
10     2020   1879   1
11     2020   1880   1
12     2020   1881   1
13     2020   1883   1
14     2020   1884   1
15     2020   1885   1
16     2020   1886   1
17     2020   1887   1
18     2020   1888   1
19     2020   1889   1
20     2020   1890   1
21     2020   1891   1
22     2020   1892   1
23     2020   1893   1
24     2020   1894   1
25     2020   1896   1
26     2020   1897   1
27     2020   1898   1
28     2020   1899   1
29     2020   1900   1
30     2020   1901   1
<U+22EE> <U+22EE> <U+22EE> <U+22EE>
71     2020   1949   1
72     2020   1950   1
73     2020   1951   1
74     2020   1954   1
75     2020   1956   1
76     2020   1958   1
77     2020   1959   1
78     2020   2018   1
79     2020   2020   1
80     2060   1901   1
81     2060   1902   1
82     2060   1903   1
83     2060   1904   1
84     2060   1905   1
85     2060   1906   1
86     2060   1907   1
87     2060   1908   1
88     2060   1909   1
89     2060   1910   1
90     2060   1911   1
91     2060   1912   1
92     2060   1913   1
93     2060   1914   1
94     2060   1915   1
95     2060   1916   1
96     2060   1917   1
97     2060   1918   1
98     2060   1919   1
99     2060   1920   1
100    2060   1921   1