# Exploring datasets

In [1]:
# libraries
library(haven)
library(data.table)

In [2]:
# read dead
dat = data.table(read_stata("../data/Ex-LA1850-2020-estimates.dta"))

In [8]:
names(dat)

[1] "ctry"   "myear"  "sex"    "age"    "name"   "Ex"     "gdp_pc"

In [14]:
dat = dat[age == 0 & sex == 1]

In [23]:
adat = dat[, N, .(ctry, myear)]

In [24]:
# number of estimates by year and country
table(adat$N)

  1   2   3   4   5   6   7   8   9  11  12  13  14  15  16  17  18  19  20  21
 11  20  60  84 190 138  42  32  36  11  60 104  42  60  32 119  36  38 100  21
 22  23  24  25  26  27  30  32  33  34
110  46 168 100  78  27 120  32  66 238

In [28]:
adat[N == 1]

   ctry myear N
1  2020 1925  1
2  2060 1915  1
3  2060 1935  1
4  2060 1945  1
5  2190 1925  1
6  2250 1915  1
7  2340 1935  1
8  2370 1915  1
9  2370 1925  1
10 2370 1935  1
11 2460 1945  1